[Unit]
Description=GPD Display Rotation Service
After=display-manager.service

[Service]
Type=oneshot
ExecStart=-/usr/local/sbin/gpdrotate 1

[Install]
WantedBy=multi-user.target